sftp-cloud-el/sftp-cloud-el.json
{
  "externalControllerServices" : {
    "af5f159c-0221-3917-ae3f-254e27853d0a" : {
      "identifier" : "af5f159c-0221-3917-ae3f-254e27853d0a",
      "name" : "ADLS-RawWindData"
    },
    "db0e20de-cb74-3091-a764-c86b00475ef1" : {
      "identifier" : "db0e20de-cb74-3091-a764-c86b00475ef1",
      "name" : "Blob-RawWindData"
    }
  },
  "flow" : {
    "createdTimestamp" : 1744807349606,
    "description" : "This is the nifi flow for the extract the file from the sftp server and load the file to the cloud ",
    "identifier" : "sftp-cloud-el",
    "lastModifiedTimestamp" : 1744807349606,
    "name" : "sftp-cloud-el",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "This will load the content to the Azure Data Lake Storage",
        "groupId" : "flow-contents-group",
        "id" : "b6ffc2aa-b9b3-3a5a-b674-98eb0c963963",
        "name" : "ADLS-RawWindData",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1c91cbab-5f04-384e-884a-77a8e4fc99a2",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f55627c-621f-3efa-a07b-9390bd1d5fce",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "To see the meta data of the fetched file from the SFTP server. It will show the filename, directory, SFTP server details, content, etc..., before load to the Azure Blob Storage.",
        "groupId" : "flow-contents-group",
        "id" : "af84bbd2-99fb-38b3-9c56-7a96802a4398",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "7b84c85b-ea36-3746-a37b-e2eb369a3c79",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Get the file from the SFTP server ",
        "groupId" : "flow-contents-group",
        "id" : "e025091f-377e-32cf-85f1-b8b43f63e640",
        "name" : "GetSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "1f55627c-621f-3efa-a07b-9390bd1d5fce",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8a98eba9-d5ef-31d3-97e3-0fe25e4d2d67",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "Get the file from the SFTP server ",
        "groupId" : "flow-contents-group",
        "id" : "e025091f-377e-32cf-85f1-b8b43f63e640",
        "name" : "GetSFTP",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "100 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "This is will create a container if the container is not already exist.             \nThis will execute for the first time ",
        "groupId" : "flow-contents-group",
        "id" : "e0d7cd65-ac99-3a5c-ad78-a11f6237adc7",
        "name" : "PutRawWindData",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "33c6ce3f-2f97-33b7-a57e-fdcbbb109f11",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "To see the meta data of the fetched file from the SFTP server. It will show the filename, directory, SFTP server details, content, etc..., before load to the Azure Blob Storage.",
        "groupId" : "flow-contents-group",
        "id" : "af84bbd2-99fb-38b3-9c56-7a96802a4398",
        "name" : "LogAttribute",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "100 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : {
      "af5f159c-0221-3917-ae3f-254e27853d0a" : {
        "identifier" : "af5f159c-0221-3917-ae3f-254e27853d0a",
        "name" : "ADLS-RawWindData"
      },
      "db0e20de-cb74-3091-a764-c86b00475ef1" : {
        "identifier" : "db0e20de-cb74-3091-a764-c86b00475ef1",
        "name" : "Blob-RawWindData"
      }
    },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "logFileSuffix" : "LoadToCloud",
    "maxConcurrentTasks" : 1,
    "name" : "LoadToCloud-EL (gitHub)",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-azure-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "This is will create a container if the container is not already exist.             \nThis will execute for the first time ",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e0d7cd65-ac99-3a5c-ad78-a11f6237adc7",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutRawWindData",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 312.0,
        "y" : 72.0
      },
      "properties" : {
        "conflict-resolution-strategy" : "REPLACE_RESOLUTION",
        "blob-name" : "${filename}",
        "create-container" : "true",
        "Resource Transfer Source" : "FLOWFILE_CONTENT",
        "storage-credentials-service" : "db0e20de-cb74-3091-a764-c86b00475ef1",
        "container-name" : "container1",
        "Client-Side Encryption Key Type" : "NONE"
      },
      "propertyDescriptors" : {
        "conflict-resolution-strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "conflict-resolution-strategy",
          "sensitive" : false
        },
        "blob-name" : {
          "displayName" : "Blob Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "blob-name",
          "sensitive" : false
        },
        "create-container" : {
          "displayName" : "Create Container",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "create-container",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Resource Transfer Source" : {
          "displayName" : "Resource Transfer Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Resource Transfer Source",
          "sensitive" : false
        },
        "Client-Side Encryption Key ID" : {
          "displayName" : "Client-Side Encryption Key ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client-Side Encryption Key ID",
          "sensitive" : false
        },
        "storage-credentials-service" : {
          "displayName" : "Storage Credentials",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "storage-credentials-service",
          "sensitive" : false
        },
        "container-name" : {
          "displayName" : "Container Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "container-name",
          "sensitive" : false
        },
        "Client-Side Encryption Key Type" : {
          "displayName" : "Client-Side Encryption Key Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client-Side Encryption Key Type",
          "sensitive" : false
        },
        "File Resource Service" : {
          "displayName" : "File Resource Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "File Resource Service",
          "sensitive" : false
        },
        "Client-Side Encryption Local Key" : {
          "displayName" : "Client-Side Encryption Local Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Client-Side Encryption Local Key",
          "sensitive" : true
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#007bff"
      },
      "type" : "org.apache.nifi.processors.azure.storage.PutAzureBlobStorage_v12",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "1f55627c-621f-3efa-a07b-9390bd1d5fce",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 24.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "debug",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#fdfcfc"
      },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "To see the meta data of the fetched file from the SFTP server. It will show the filename, directory, SFTP server details, content, etc..., before load to the Azure Blob Storage.",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "af84bbd2-99fb-38b3-9c56-7a96802a4398",
      "maxBackoffPeriod" : "10 mins",
      "name" : "LogAttribute",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 304.0,
        "y" : -264.0
      },
      "properties" : {
        "character-set" : "UTF-8",
        "Log FlowFile Properties" : "true",
        "Log Level" : "info",
        "attributes-to-log-regex" : ".*",
        "Output Format" : "Line per Attribute",
        "Log Payload" : "false"
      },
      "propertyDescriptors" : {
        "Log prefix" : {
          "displayName" : "Log prefix",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log prefix",
          "sensitive" : false
        },
        "character-set" : {
          "displayName" : "Character Set",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "character-set",
          "sensitive" : false
        },
        "Log FlowFile Properties" : {
          "displayName" : "Log FlowFile Properties",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log FlowFile Properties",
          "sensitive" : false
        },
        "Log Level" : {
          "displayName" : "Log Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Level",
          "sensitive" : false
        },
        "attributes-to-ignore-regex" : {
          "displayName" : "Attributes to Ignore by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-ignore-regex",
          "sensitive" : false
        },
        "Attributes to Ignore" : {
          "displayName" : "Attributes to Ignore",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Ignore",
          "sensitive" : false
        },
        "Attributes to Log" : {
          "displayName" : "Attributes to Log",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes to Log",
          "sensitive" : false
        },
        "attributes-to-log-regex" : {
          "displayName" : "Attributes to Log by Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "attributes-to-log-regex",
          "sensitive" : false
        },
        "Output Format" : {
          "displayName" : "Output Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Format",
          "sensitive" : false
        },
        "Log Payload" : {
          "displayName" : "Log Payload",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Log Payload",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 25,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#fdfcfc"
      },
      "type" : "org.apache.nifi.processors.standard.LogAttribute",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "Get the file from the SFTP server ",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "e025091f-377e-32cf-85f1-b8b43f63e640",
      "maxBackoffPeriod" : "10 mins",
      "name" : "GetSFTP",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : -272.0
      },
      "properties" : {
        "Ignore Dotted Files" : "true",
        "Port" : "22",
        "Max Selects" : "100",
        "Connection Timeout" : "30 sec",
        "follow-symlink" : "false",
        "Search Recursively" : "false",
        "Strict Host Key Checking" : "false",
        "Remote Poll Batch Size" : "5000",
        "Polling Interval" : "60 sec",
        "Hostname" : "172.18.7.181",
        "Remote Path" : "/uploads/files",
        "Use Compression" : "false",
        "Send Keep Alive On Timeout" : "true",
        "Data Timeout" : "30 sec",
        "Username" : "sftpuser",
        "Use Natural Ordering" : "false",
        "Delete Original" : "true"
      },
      "propertyDescriptors" : {
        "Ignore Dotted Files" : {
          "displayName" : "Ignore Dotted Files",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ignore Dotted Files",
          "sensitive" : false
        },
        "Port" : {
          "displayName" : "Port",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Port",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Ciphers Allowed" : {
          "displayName" : "Ciphers Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Ciphers Allowed",
          "sensitive" : false
        },
        "Max Selects" : {
          "displayName" : "Max Selects",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Selects",
          "sensitive" : false
        },
        "Private Key Passphrase" : {
          "displayName" : "Private Key Passphrase",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Passphrase",
          "sensitive" : true
        },
        "Connection Timeout" : {
          "displayName" : "Connection Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Connection Timeout",
          "sensitive" : false
        },
        "Path Filter Regex" : {
          "displayName" : "Path Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Path Filter Regex",
          "sensitive" : false
        },
        "follow-symlink" : {
          "displayName" : "Follow symlink",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "follow-symlink",
          "sensitive" : false
        },
        "Search Recursively" : {
          "displayName" : "Search Recursively",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Search Recursively",
          "sensitive" : false
        },
        "Strict Host Key Checking" : {
          "displayName" : "Strict Host Key Checking",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Strict Host Key Checking",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        },
        "File Filter Regex" : {
          "displayName" : "File Filter Regex",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "File Filter Regex",
          "sensitive" : false
        },
        "Remote Poll Batch Size" : {
          "displayName" : "Remote Poll Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Poll Batch Size",
          "sensitive" : false
        },
        "Polling Interval" : {
          "displayName" : "Polling Interval",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Polling Interval",
          "sensitive" : false
        },
        "Hostname" : {
          "displayName" : "Hostname",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Hostname",
          "sensitive" : false
        },
        "Remote Path" : {
          "displayName" : "Remote Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Remote Path",
          "sensitive" : false
        },
        "Host Key File" : {
          "displayName" : "Host Key File",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Host Key File",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Use Compression" : {
          "displayName" : "Use Compression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Compression",
          "sensitive" : false
        },
        "Message Authentication Codes Allowed" : {
          "displayName" : "Message Authentication Codes Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Authentication Codes Allowed",
          "sensitive" : false
        },
        "Send Keep Alive On Timeout" : {
          "displayName" : "Send Keep Alive On Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Send Keep Alive On Timeout",
          "sensitive" : false
        },
        "Data Timeout" : {
          "displayName" : "Data Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Timeout",
          "sensitive" : false
        },
        "Private Key Path" : {
          "displayName" : "Private Key Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Private Key Path",
          "resourceDefinition" : {
            "cardinality" : "SINGLE",
            "resourceTypes" : [ "FILE" ]
          },
          "sensitive" : false
        },
        "Username" : {
          "displayName" : "Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Username",
          "sensitive" : false
        },
        "Key Exchange Algorithms Allowed" : {
          "displayName" : "Key Exchange Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Exchange Algorithms Allowed",
          "sensitive" : false
        },
        "Use Natural Ordering" : {
          "displayName" : "Use Natural Ordering",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Use Natural Ordering",
          "sensitive" : false
        },
        "Delete Original" : {
          "displayName" : "Delete Original",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Original",
          "sensitive" : false
        },
        "Key Algorithms Allowed" : {
          "displayName" : "Key Algorithms Allowed",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Algorithms Allowed",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#f57105"
      },
      "type" : "org.apache.nifi.processors.standard.GetSFTP",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ "success", "failure" ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-azure-nar",
        "group" : "org.apache.nifi",
        "version" : "2.3.0"
      },
      "comments" : "This will load the content to the Azure Data Lake Storage",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 3,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "b6ffc2aa-b9b3-3a5a-b674-98eb0c963963",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ADLS-RawWindData",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -424.0,
        "y" : 336.0
      },
      "properties" : {
        "filesystem-name" : "rawdata",
        "conflict-resolution-strategy" : "replace",
        "adls-credentials-service" : "af5f159c-0221-3917-ae3f-254e27853d0a",
        "Resource Transfer Source" : "FLOWFILE_CONTENT",
        "directory-name" : "sensordata/${now():format(\"yyyy-MM-dd\")}",
        "file-name" : "${filename}",
        "writing-strategy" : "WRITE_AND_RENAME",
        "base-temporary-path" : "staging"
      },
      "propertyDescriptors" : {
        "filesystem-name" : {
          "displayName" : "Filesystem Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "filesystem-name",
          "sensitive" : false
        },
        "conflict-resolution-strategy" : {
          "displayName" : "Conflict Resolution Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "conflict-resolution-strategy",
          "sensitive" : false
        },
        "adls-credentials-service" : {
          "displayName" : "ADLS Credentials",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "adls-credentials-service",
          "sensitive" : false
        },
        "proxy-configuration-service" : {
          "displayName" : "Proxy Configuration Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "proxy-configuration-service",
          "sensitive" : false
        },
        "Resource Transfer Source" : {
          "displayName" : "Resource Transfer Source",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Resource Transfer Source",
          "sensitive" : false
        },
        "directory-name" : {
          "displayName" : "Directory Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "directory-name",
          "sensitive" : false
        },
        "file-name" : {
          "displayName" : "File Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "file-name",
          "sensitive" : false
        },
        "writing-strategy" : {
          "displayName" : "Writing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "writing-strategy",
          "sensitive" : false
        },
        "File Resource Service" : {
          "displayName" : "File Resource Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "File Resource Service",
          "sensitive" : false
        },
        "base-temporary-path" : {
          "displayName" : "Base Temporary Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "base-temporary-path",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : {
        "background-color" : "#007bff"
      },
      "type" : "org.apache.nifi.processors.azure.storage.PutAzureDataLakeStorage",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "0f0e3e3b-f14d-4533-820f-e90539b2651c",
    "flowIdentifier" : "sftp-cloud-el",
    "timestamp" : 0
  }
}